:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: #fff;
	color: #222;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

.border {
    border-radius: 4px;
    border-top: 2px ridge #aaa;
    border-left: 2px ridge #aaa;
    border-right: 2px ridge #111;
    border-bottom: 2px ridge #111;

}

.coating {
	position: relative;
	background-color: #666;
}

.coating:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background: #666 url("data:image/svg+xml,%3Csvg viewBox='0 0 700 700' width='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.833' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E") repeat center center;
	filter: grayscale(100%);
	mix-blend-mode: multiply;
	opacity: 0.5;
}


.cube {
    position: relative;
    margin: 16px;
    background-color: #333;
    color: #fff;
    perspective: 2000px;
    transform-style: preserve-3d;
    border-bottom: 16px solid #ccc;
}

.banner {
    text-align: center;
    padding: 8px;
}

.control-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lock-options {
	padding: 16px;
}

.lock-option {
	display: flex;
	align-items: center;
	margin: 8px 0;
}

.lock-option label {
	margin: 0 0 0 8px;
}

.scanner {
	padding: 16px;
	text-align: right;
}

label {
	display: block;
	margin-bottom: 8px;
}

input, button {
	font-size: 20px;
	border: 1px solid #ccc;
	background: transparent;
	color: #fff;
	border-radius: 4px;
	padding: 8px;
}


.boxes {
    display: flex;
    flex-flow: column wrap;
    transform-style: preserve-3d;
    max-height: 100%;
    height: 60vh;
    width: 80vw;
}

.box {
    width: 20vw;
    height: 15vh;
    min-width: 16%;
    min-height: 12%;
    box-sizing: border-box;
    transform-style: preserve-3d;
    z-index: 0;
	background-color: #222;
}

.box.open {
    z-index: 1;
}

.door {
    width: 100%;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    transition: all 0.5s ease-out;
    color: #fff;
    font-size: 20px;
    text-align: start;
    appearance: none;
    display: flex;
	position: relative;
}

.box.open .door {
    transform: rotateY(45deg);
}

.door .error-status {
	color: white;
	background-color: #9a0c0c;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	border-radius: 2px;
	padding: 2px 4px;
}

.restarting {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    z-index: 100;
    color: #fff;
    font-size: 20px;
    animation: restarting-animation alternate 1s ease-in-out infinite;
}

@keyframes restarting-animation {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #111;
		color: #ccc;
	}

	.cube {
		background-color: #333;
	}
	.box {
		background-color: #222;
	}
	.coating {
		background-color: #333;
	}
	.coating:before {
		background-color: #333;
		mix-blend-mode: overlay;
	}
}

