name: CI
on: [push, pull_request]
permissions:
  id-token: write  # Required for OIDC
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 20
        registry-url: https://registry.npmjs.org
        scope: '@variocube'
    - run: npm ci
    - run: npm run build
    - run: npm run test
    - if: startsWith(github.ref, 'refs/tags/')
      run: npx lerna publish from-git --yes --no-private

    - run: ./build_debian.sh

    - if: startsWith(github.ref, 'refs/tags/')
      run: |
        aws s3 cp --region eu-west-1 dpkg/ s3://og-repository/packages/ --recursive --exclude "*" --include "variocube-cube-app-service_*.deb"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - if: startsWith(github.ref, 'refs/tags/')
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: ./packages/cube-app-demo/dist # The folder the action should deploy.
